body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header {
  /* position: fixed;
  width: 100%; */
  padding: 20px 0;
  /* background-color: #4a0d0d; */
  background-image: url(./img/choco2.png);
  /* background-repeat: no-repeat;
  background-position: top;
  background-size: cover; */
}

.header__link {
  margin-left: 35px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

.logo {
  width: 100px;
  overflow: hidden;
}

.logo img {
  width: 100%;
}

.intro {
  position: relative;
  background-image: url(img/header-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.choco {
  padding: 100px 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.melted-choco {
  width: 100%;
  height: 135px;
  position: absolute;
  top: 0;
  background-image: url(./img/choco2.png);
  background-size: contain;
  background-position-y: -5px;
  background-repeat: repeat-x;
}

.intro__title {
  margin: 0;
  font-size: 48px;
  color: #ff0053;
}

.intro__text {
  width: 700px;
  margin: 20px 0 50px;
  color: #fff;
}

.link {
  padding: 8px 20px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #ff0053;
  color: #fff;
  text-decoration: none;
}

.ice-creams {
  padding: 100px 0;
  background-color: #ffa6ff;
}

.column {
  width: 22%;
  position: relative;
  padding: 15px 8px;
  margin-top: 20px;
  text-align: center;
  background-color: #fff;
  color: #00004c;
  border-radius: 15px;
}

.ice-cream__text {
  font-size: 12px;
}

.delete-btn {
  display: none;
  background-color: transparent;
  position: absolute;
  top: 15px;
  right: 5px;
  border: none;
}

.column:hover .delete-btn {
  display: block;
}

.delete-btn img {
  width: 20px;
}



.loader {
  /* position: absolute;
  top: 50%;
  left: 50%; */
  height: 60px;
  width: 160px;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.circles {
  position: absolute;
  left: -5px;
  top: 0;
  height: 60px;
  width: 180px;
}
.circles span {
  position: absolute;
  top: 25px;
  height: 12px;
  width: 12px;
  border-radius: 12px;
  background-color: #3d0d01;
}
.circles span.one {
  right: 80px;
}
.circles span.two {
  right: 40px;
}
.circles span.three {
  right: 0px;
}
.circles {
  -webkit-animation: animcircles 0.5s infinite linear;
  animation: animcircles 0.5s infinite linear;
}
@-webkit-keyframes animcircles {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(-40px, 0px);
    transform: translate(-40px, 0px);
  }
}
@keyframes animcircles {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(-40px, 0px);
    transform: translate(-40px, 0px);
  }
}
.pacman {
  position: absolute;
  left: 0;
  top: 0;
  height: 60px;
  width: 60px;
}
.pacman .eye {
  position: absolute;
  top: 10px;
  left: 30px;
  height: 7px;
  width: 7px;
  border-radius: 7px;
  background-color: #1c163a;
}
.pacman span {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 60px;
}
.pacman span::before {
  content: "";
  position: absolute;
  left: 0;
  height: 30px;
  width: 60px;
  background-color: #fffb16;
}
.pacman .top::before {
  top: 0;
  border-radius: 60px 60px 0px 0px;
}
.pacman .bottom::before {
  bottom: 0;
  border-radius: 0px 0px 60px 60px;
}
.pacman .left::before {
  bottom: 0;
  height: 60px;
  width: 30px;
  border-radius: 60px 0px 0px 60px;
}
.pacman .top {
  -webkit-animation: animtop 0.5s infinite;
  animation: animtop 0.5s infinite;
}
@-webkit-keyframes animtop {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
@keyframes animtop {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
.pacman .bottom {
  -webkit-animation: animbottom 0.5s infinite;
  animation: animbottom 0.5s infinite;
}
@-webkit-keyframes animbottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@keyframes animbottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}